<li class="newslistitem">
  <img src={{newsfeedItem.avatar_url}} alt="Avatar Image" width="30px" width="30px" border-radius />
  <p>{{ newsfeedItem.username }}</p>
  <p>{{ newsfeedItem.published_time }}</p>
  <p>{{ newsfeedItem.content }}</p>
  <div class="commentsAndLikes">
    <div></div>
    <div class="comments">
      <section>comment_icon </section>
      <section>{{newsfeedItem.comment_number}}</section>
    </div>
    <div></div>
    <div class="likes">
      <section>likes_icon </section>
      <section>{{newsfeedItem.likes}}</section>
    </div>
    <div></div>
  </div>

</li>
