<li class="newslistitem">
  <img src={{newsfeedItem.avatar_url}} alt="Avatar Image" width="30px" width="30px" border-radius />
  <p>{{ newsfeedItem.publisherName }}</p>
  <p>{{ newsfeedItem.publisherTime }}</p>
  <p>{{ newsfeedItem.content }}</p>
  <div class="commentsAndLikes">
    <div></div>
    <div class="comments">
      <section>comment_icon </section>
      <!-- Need to create a new component to display the comments -->
      <section>newsfeed_comment</section>
    </div>
    <div></div>
    <div class="likes">
      <section>likes_icon </section>
      <!-- Need to calculate the likes based on the story -->
      <section>like_number</section>
    </div>
    <div></div>
  </div>

</li>
