
.timeoutDialogBody {
    background: #F5F5F5;
    height: 100%;


}

.timeoutDialogMessage {
    height: 100%;
    
}
.timeoutDialogBottom {
    background: #F5F5F5;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
}
.timeoutDialogCancelButton {
    width: 100%;
    background-color: #A62626;
    color: white;
}
.timeoutDialogConfirmButton {
    width: 100%;
    background-color: #A62626;
    color: white;
}