.timeoutDialog {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #333333ee;
}

.timeoutDialog--active {
    display: block;
}

.timeoutDialogBody {
    background: white;
    width: 80%;
    margin-left: 10%;
    height: 500px;
    margin-top: 100px;


}

.timeoutDialogMessage {
    height: 90%;
}
.timeoutDialogBottom {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
}
