// @import "../../styles.scss";

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}
