.buttons-container {
  margin: 20px;
}

h2 {
  margin: 20px;
}

.profile-container {
  margin: 20px;
}

.list-container {
  margin: 20px;

  .header {
    display: flex;
    justify-content: space-between;

    .mat-card-header-text {
      margin: 0px;
    }

    .mat-card-title {
      margin-top: 8px;

      .mat-icon {
        vertical-align: text-top;
      }
    }

    button {
      margin-bottom: 12px;
    }
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-table {
    width: 100%;
  }

  td,
  th {
    width: 25%;
    vertical-align: middle;
  }
}
