:host {
  margin: 16px;
}

.contents {
  width: 410px;
}

.form {
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  margin: 12px;
  padding: 12px;

  h4 {
    margin: 0;
    padding-bottom: 12px;
  }
}

.info-container {
  margin: 0px 16px;
  box-shadow: none !important;

  .info-content {
    .mat-icon {
      margin-right: 16px;
    }
  }

  .mat-divider {
    position: inherit;
  }

  .mat-card-header {
    justify-content: space-between;

    .mat-card-title {
      margin-top: 8px;

      .mat-icon {
        vertical-align: text-top;
      }
    }

    button {
      margin-bottom: 12px;
    }
  }

  .mat-list-item-content {
    padding: 0px;
  }
}

.profile-container {
  display: flex;
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
}

.pull-right {
  margin-left: auto;
}
