<div id='settings'>
    <div id='settingsMain'>
        <div id='settingsOptions'>
            <h1>Settings</h1>
            <div id='options'>
                <button>Option</button>
                <button>Option</button>
                <button>Option</button>
                <button>Option</button>
                <button>Option</button>
            </div>
            <div id='settingsLogout'>
                <button (click)='showLogout(true)'>
                    Log Out
                </button>
            </div>
        </div>
    </div>
    <logout-window *ngIf='logout' [logout]='logout' (logoutEmitter)=showLogout($event)></logout-window>
    <app-bottom-bar></app-bottom-bar>
</div>