#settings {
    background-color: white;
    background-size: cover;
}

#settingsMain {
    height: 80vh;
}

#settingsOptions {
    display: grid;
    grid-template-rows: 10% 50% 40%;
    width: 60%;
    height: 80%;
    margin: 5% auto;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 4px;
}

#settingsOptions h1 {
    margin: 1.5%;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

#options {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    height: 55%;
    margin-top: 3%;
}

#options button {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    border: 0;
    background-color: red;
    color: white;
    transition: 0.3s ease-in-out;
    font-size: 1.7rem;
    border-radius: 4px;
}

#settingsLogout {
    width: 30%;
    height: 50%;
    margin: 5% auto;
}

#settingsLogout button {
    border: 0;
    color: white;
    background-color: red;
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 4px;
    font-size: 1.5rem;
}

#settingsLogout button:hover, #options button:hover {
    cursor: pointer;
    background-color: white;
    transition: 0.3s ease-in-out;
    color: red;
}