<div id='settings'>
    <div id='settingsMain'>
        <div id='settingsOptions'>
            <h1>Settings</h1>
            <div id='options'>
                <button>Option</button>
                <button>Option</button>
                <button>Option</button>
                <button>Option</button>
                <button>Option</button>
            </div>
        </div>
        <div id='settingsLogout'>
            <button (click)='logOut()'>
                Log Out
            </button>
        </div>
    </div>
    <app-bottom-bar></app-bottom-bar>
</div>