<div id='settings'>
    <div id='settingsMain'>
        <h1>Settings</h1>
        <div id='settingsOptions'>
            <div id='options'>
                <button routerLink="../myProfile">Edit Your Profile</button>
                <button>Change Text Size (coming soon)</button>
                <button>Light/Dark Mode (coming soon)</button>
            </div>
            <div id='settingsLogout'>
                <button (click)='openLogoutDialog()'>
                    Log Out
                </button>
            </div>
        </div>
</div>