#settings {
    background-color: #F5F5F5;
    background-size: cover;
}

#settingsMain {
    height: 80vh;
}

h1 {
    margin: 3%;
    color: #0D0D0D;
    font-weight: bold;
    margin-left: 7%;
    font-size: 2rem;
}

#settingsOptions {
    display: grid;
    grid-template-rows: 55% 45%;
    width: 60%;
    height: 80%;
    margin: 5% auto;
    border: solid 2px;
    border-color: black;
    border-radius: 20px;
    border-radius: 4px;
    background-color: #eeeeee;
}


#options {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    text-align: center;
    height: 55%;
    margin-top: 3%;
}

#options button {
    width: 60%;
    margin: 0 auto;
    height: 100%;
    border: 0;
    background-color: #F23D3D;
    color: #F5F5F5;
    transition: 0.3s ease-in-out;
    font-size: 1.7rem;
    border-radius: 4px;
}

#settingsLogout {
    width: 50%;
    height: 50%;
    margin: 5% auto;
}

#settingsLogout button {
    border: 0;
    color: #F5F5F5;
    background-color: #F23D3D;
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 4px;
    font-size: 1.7rem;
}

#settingsLogout button:hover, #options button:hover {
    cursor: pointer;
    background-color: #F5F5F5;
    transition: 0.3s ease-in-out;
    color: #F23D3D;
}