<!-- by HuazhenXu navigation bar-->
<div id="navbar-body">
    <button routerLink="" class="nav_button" mat-icon-button>
        <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
    </button>
    <div class="nav_button">
        <button class="default_button" routerLink="newsFeed" mat-raised-button>NewsFeed</button>
    </div>
    <div class="nav_button">
        <button class="default_button" mat-raised-button (click)="onTestRole()"> Set to {{isAdmin ? 'User' : 'Admin'}}</button>
    </div>
    <!-- <div *ngIf="isAdmin" class="nav_button">
        <button *ngIf="isAdmin" class="default_button" mat-raised-button routerLink="admin">Admin</button>
    </div> -->
    <button id="account-button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openLogoutDialog()">{{isLogIn ? "Log Out" : "Log In"}}</button>
        <button routerLink="myProfile" mat-menu-item>My profile</button>
        <button routerLink="settings" mat-menu-item>Setting</button>
        <button *ngIf='isAdmin' routerLink="admin" mat-menu-item>Admin</button>
    </mat-menu>
</div>