#navbar-body {
    background-color: #A62626;
    width: 100%;
    height: 40px;
    display: inline-block;
    align-items: center;
}

#account-button {
    float: right;
}

button {
    text-align: center;
}