.single_story_container{
    width: 100%;
    height:20vh;
    background-color: skyblue;
    border: 1px solid black;
    padding:15px;
}
.single_story_grid{
    height:100%;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 50% 25%;
}
.single_story_content_grid{
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end: 3;
    background-color: red;
}
.single_story_avatar_grid{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end: 2;
    background-color: purple;
}
.single_story_username_grid{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end: 2;
    background-color: orange;
}
.single_story_publish_time_grid{
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end: 2;
    background-color: green;
}
.single_story_comment_grid{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:3;
    grid-row-end: 4;
    background-color: yellow;
}
.single_story_like_grid{
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:3;
    grid-row-end: 4;
    background-color: brown;
}