@use "../../../../styles.scss" as theme;

.paginatorBox {
    background-color: theme.$tertiary-color;
}

.story-comment {
    background-color: theme.$tertiary-color;
    padding: 20px;
}

.labelDisplay {
    margin-left: 10px;
}

.commentLikeBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin-top: 10px;
    color: theme.$font-color;
}

.commentItem {
    margin: 20px 30px 20px 30px;
    border-radius: 5px;
    background-color: theme.$font-color;
    padding: 15px;
}

.usernameDisplay {
    font-weight: bold;
    display: inline;
}