<div class="story-comment">
    <div>
        <div 
            *ngFor="let comment of commentsList[pageNumber.pageIndex]; let i = index"
            class="commentItem"
        >
            <p>
                {{ comment?.content?.text }}
            </p>
            <img
                #image
                [src]="comment?.content?.image"
                (error)="image.hidden = true"
                [hidden]="image.hidden"
            />
            <div 
                class="publishing-details" 
            >
                By <p class="usernameDisplay">{{ comment?.publisherName }}</p> 
                at {{ comment?.publishedTime | date:'short'}}
            </div>
        </div>
        <mat-paginator
            [length]="pageNumber.length"
            [pageSize]="pageNumber.pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="changePage($event)"
            aria-label="Select page"
            class="paginatorBox"
            showFirstLastButtons="true"
        >
        </mat-paginator>
    </div>
</div>
