<div id="fixedBar">
  <mat-button-toggle-group name="navigationBar" class="navigationBar">
    <mat-button-toggle
      (click)="myProfileIsClicked()"
      value="myProfile"
      routerLink="/myProfile"
      >My Profile</mat-button-toggle
    >
    <mat-button-toggle
      (click)="newsFeedIsClicked()"
      value="newsFeed"
      routerLink="/newsFeed"
      >News Feed</mat-button-toggle
    >
    <mat-button-toggle
      (click)="settingsIsClicked()"
      value="settings"
      routerLink="/settings"
      >Settings</mat-button-toggle
    >
  </mat-button-toggle-group>
</div>
