<button mat-icon-button *ngIf="getUrlUserName()" (click)="back()" matTooltip="back to News Feed">
  <mat-icon>keyboard_backspace</mat-icon>
</button>

<app-profile-form *ngIf="editMode" [profile]="profile" (saveEmitter)="editMode = false"></app-profile-form>

<app-profile-info *ngIf="!editMode && profile" [profile]="profile" (editEmitter)="editMode = true"></app-profile-info>

<!-- No Profile -->
<mat-card *ngIf="!editMode && !profile" class='info-container no-profile'>
  <mat-card-content class="info-content">
    <img class="no-profile-img" src="../../../assets/images/no-profile-icon.png">

    <mat-card-title class="no-profile-title">
      <span>
        Oops!
      </span>
      <span>
        Cannot find the information of "{{getUrlUserName()}}"!
      </span>
    </mat-card-title>
  </mat-card-content>
</mat-card>
