<main>
  <table mat-table [dataSource]="usersList" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef><h4>ID</h4></th>
      <td mat-cell *matCellDef="let element" class="id">{{ element._id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef><h4>NAME</h4></th>
      <td mat-cell *matCellDef="let element" class="name">
        {{ element.userName }}
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="userEmail">
      <th mat-header-cell *matHeaderCellDef><h4>EMAIL</h4></th>
      <td mat-cell *matCellDef="let element" class="email">
        {{ element.userEmail }}
      </td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="userRole">
      <th mat-header-cell *matHeaderCellDef><h4>ROLE</h4></th>
      <td mat-cell *matCellDef="let element" class="role">
        {{ element.userRole }}
      </td>
    </ng-container>

    <!-- Button Column -->
    <ng-container matColumnDef="btn" class="action">
      <th mat-header-cell *matHeaderCellDef><h4>ACTION</h4></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          color="warn"
          (click)="clickedDeleteUser(element._id)"
        >
          Delete User
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <button mat-raised-button mat-dialog-close (click)="clickedAddUser()">
    Add User
  </button>
</main>
