<!-- <p>story works!</p> -->


<mat-card class = 'container'>
    <div class = 'cardHead'>
        <!-- <img mat-card-avatar> -->
        <button mat-icon-button>
            <mat-icon>person_outline</mat-icon>
        </button>
        <span>
            <mat-card-content>Some User</mat-card-content>
            <mat-card-content>01/24/2022</mat-card-content>
        </span>
    </div>
    <mat-card-content>{{tempText}}</mat-card-content>
    <div class = 'cardFoot'>
        <button mat-icon-button (click) = "MoreLikes()">
            <mat-icon color = 'accent'>thumb_up_alt</mat-icon>
        </button>
        <p>{{likes}}</p>
        <button mat-icon-button (click) = "showComment()">
            <mat-icon color = 'accent'> comment</mat-icon>
        </button>
        <p>{{cmtCount}}</p>
        
    </div>
    <div *ngIf = "cmtStatus" class = 'comment' id = "cmt">
        <mat-form-field class = "cmtField" (keyup.enter) = "onEnter()">
            <input matInput placeholder = 'Comment Here' [formControl] = "cmtForm"/>
        </mat-form-field>
        <app-comment-list [userInput] = "userInput" (cmtNumChange) = "cmtNumber($event)"></app-comment-list>
    </div>
</mat-card>