<form [formGroup]="signupForm">

  <mat-form-field appearance="fill">
    <mat-label>Username </mat-label>
    <input matInput formControlName="username" UniqueUserName required name="username">
    <small class="text-danger" *ngIf="signupForm.get('username')?.hasError ('UniqueUserName')">
      username has been <strong>registered.</strong>
    </small>

    <small *ngIf="signupForm.get('username')?.errors?.['minlength']">
      Username must be at least 5 characters long.
    </small>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label> password </mat-label>
    <input matInput formControlName="password">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label> name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label> userEmail</mat-label>
    <input matInput formControlName="userEmail" UniqueEmail required name="userEmail">
    <!-- <small class="text-danger" *ngIf="signupForm.get('userEmail')?.hasError('UniqueEmail')"> -->
    <small class="text-danger" *ngIf="signupForm.get('userEmail')?.hasError('UniqueEmail')">
      Email has been <strong>registered.</strong>
    </small>

    <small class="text-danger" *ngIf="signupForm.get('userEmail')?.hasError('email')">
      Not a valid email
    </small>
    <!-- <button (click)="check()">Check it</button> -->
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label> age</mat-label>
    <input matInput formControlName="age">
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label> gender</mat-label>
    <input matInput formControlName="gender">
  </mat-form-field>


  <mat-form-field>
    <mat-label> phone</mat-label>
    <input matInput formControlName="phone">
  </mat-form-field>
  <button (click)="submitForm()">SignUp</button>
</form>
