<div id='app'>
    <div id='login-modal'>
        <h1>
            Sign In
        </h1>
        <login-form></login-form>
        <div id='signupSection'>
            <div id='signup'>
                <div id='new'>
                    New to Netflix?
                </div>
                <div id='signupLink' (click)='SignUp()'>
                    Sign up now
                </div>
            </div>
            <div id='learnMore'>
                This page is protected by Google reCAPTCHA to ensure you're not a bot.
                <div id='learnMoreLink' (click)='LearnMore()'>
                    Learn more.
                </div>
            </div>
        </div>
    </div>
</div>