#app {
    background-color: #F5F5F5;
    background-size: cover;
    padding-top: 5%;
}

#login-modal {
    width: 25rem;
    height: 30%;
    text-align: center;
    margin: 0 auto;
    padding: 2% 2% 10%;
    background-color: rgba(0, 0, 0, 0.795);
    color: #F5F5F5;
    border-radius: 4px;
}

h1 {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
}


#signupSection {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: left;
}

#new, #signupLink {
    display: inline-block;
    padding-right: 1%;
    color: darkgrey;
    font-size: 0.9rem;
}

#signupLink {
    color: white;
    font-weight: bold;
}

#learnMore {
    width: 80%;
    font-size: 0.7rem;
    margin-top: 5%;
    line-height: 1;
    color: grey;
}

#learnMoreLink {
    display: inline-block;
    padding: 1%;
    color: rgb(46, 46, 235);
}

#signupLink:hover, #learnMoreLink {
    cursor: pointer;
}