@use "../../../../styles.scss" as theme;

.contentPage {
  margin-left: 20%;
  margin-right: 20%;
  // border: thick double lightpink;
}

.avatarDisplay {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.content-follow-up {
  display: flex;
  justify-content: space-between;
  border: thick double lightblue;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // margin-left: 10%;
  // margin-right: 10%;
  // padding: 10px;
}

.like-id-list {
  display: flex;
  // margin: 20px;
}

.content {
  background-color: theme.$secondary-color;
  padding: 30px;
}

.story-comment {
  border: thick double lightpink;
  //   max-width: 350px;
}

.story-content {
  border: thick double #32a1ce;
}
