<div class="contentPage">
  <div class="avatarDisplay">
    <mat-icon aria-hidden="false" aria-label="person">person</mat-icon>
    <app-user-display [userInNewFeed]="userInfoFromServer"> </app-user-display>
  </div>
  <div class="content">
    <p>
      {{ userInfoFromServer.content.text }}
    </p>
    <div>
      <img src="{{ userInfoFromServer.content.image }}" alt="img not found" />
      <video width="320" height="240" controls>
        <source src="{{ userInfoFromServer.content.video }}" />
      </video>
    </div>
  </div>

  <div class="content-follow-up">
    <div>
      <div>
        <mat-icon aria-hidden="false" aria-label="comment">comment</mat-icon>
        <label>{{ this.commentList.length }} Comment(s)</label>
      </div>
      <div *ngFor="let comment of commentList" class="story-comment">
        <div>
          <p>
            {{ comment.content.text }}
          </p>
          <img src="{{ comment.content.image }}" alt="Image not found." />
          <video width="320" height="240" controls>
            <source src="{{ comment.content.video }}" />
          </video>
          <div class="publishing-details">
            By {{ comment.publisherName }} at {{ comment.publishedTime }}
          </div>
        </div>
      </div>
    </div>
    <div class="like-id-list">
      <mat-icon aria-hidden="false" aria-label="favorite">favorite</mat-icon>
      <label>
        {{ currentStory.likedIdList?.length }}
      </label>
    </div>
  </div>
  <!-- frontend pagination is for comment -->
  <mat-paginator
    [length]="10"
    [pageSize]="11"
    [pageSizeOptions]="[1, 5, 10]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
