<div class="contentPage">
  <div class="avatarDisplay">
    <app-user-display [userInNewsStory]="userInfoFromServer">
    </app-user-display>
    <mat-icon
      aria-hidden="false"
      aria-label="delete"
      class="labelDisplay"
      (click)="deletePost()"
      >delete</mat-icon
    >
    <!-- <div>p</div>
    <div>p</div>
    <div>p</div> -->
  </div>
  <mat-card class="content">
    <div>
      <p>
        {{ userInfoFromServer.content.text }}
      </p>
      <div>
        <img
          #image
          width="320"
          height="240"
          [src]="userInfoFromServer.content.image"
          (error)="image.hidden = true"
          [hidden]="image.hidden"
        />
        <div *ngIf="isVideo === true">
          <!-- iframe sends many requests -->
          <iframe
            width="420"
            height="315"
            src=""
            class="videoLink"
            [id]="videoId"
          ></iframe>
          <!-- <video width="320" height="240" controls>
            <source
              src="{{ userInfoFromServer.content.video }}"
              type="video/mp4"
            />
          </video> -->
        </div>
      </div>
    </div>
    <div class="content-follow-up">
      <div class="commentLikeBox">
        <div>
          <mat-icon
            aria-hidden="false"
            aria-label="comment"
            class="labelDisplay"
            >comment</mat-icon
          >
          <label class="labelDisplay">
            {{ commentList.length }} Comment(s)
          </label>
        </div>
        <div class="like-id-list">
          <mat-icon
            aria-hidden="false"
            aria-label="favorite"
            class="labelDisplay"
            >favorite</mat-icon
          >
          <label class="labelDisplay">
            {{ currentStory.likedIdList?.length }}
          </label>
        </div>
      </div>
      <app-add-comment
        (isChanged)="refreshNewsStory($event)"
        [serverData]="currentStory"
      ></app-add-comment>
      <app-comments
        *ngIf="commentList.length != 0"
        [commentData]="commentList"
      ></app-comments>
    </div>
  </mat-card>
</div>
