@use "../../../../styles.scss" as theme;

.contentPage {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  // border: thick double lightpink;
}

.avatarDisplay {
  display: flex;
  background-color: theme.$secondary-color;
  padding: 10px;
  justify-content: space-between;
}

.content-follow-up {
  display: block;
  border: 2px solid theme.$font-color;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // margin-left: 10%;
  // margin-right: 10%;
  // padding: 10px;
}

.like-id-list {
  display: flex;
  // margin: 20px;
}

.content {
  background-color: theme.$secondary-color;
  color: theme.$font-color;
  // padding: 30px;
}

.commentLikeBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  background-color: theme.$tertiary-color;
}

.labelDisplay {
  margin-left: 10px;
}

.contentBox {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.content-body {
  padding: 30px;
}
