<div>
    <div id='login-modal'>
        <h1>
            Sign In
        </h1>
        <label>Username: <br/>
            <input type='text'/>
        </label><br/>
        <label>Password: <br/>
            <input type='text'/>
        </label><br/>
        <button>Sign In</button><br/>
        <div id='checkbox'>
            <label>
                <input type='checkbox'/> Remember me
            </label>
            <div>
                Need help?
            </div>
        </div>
        <div id='signup'>
            <div>
                New to Netflix?
            </div>
            <div id='signupLink'>
                Sign up now
            </div>
        </div>
    </div>
</div>