<div>
    <div id='login-modal'>
        <h1>
            Sign In
        </h1>
        <div id='loginInput'>
            <input type='text' placeholder='Email or phone number'/><br/>
            <input type='password' placeholder = 'Password'/><br/>
        </div>
        <button (click)='SignIn()'>Sign In</button><br/>
        <div id='checkbox'>
            <div>
                <input id='checkboxInput' type='checkbox'/> Remember me
            </div>
            <div id='needHelp' (click)='NeedHelp()'>
                Need help?
            </div>
        </div>
        <div id='signupSection'>
            <div id='signup'>
                <div id='new'>
                    New to Netflix?
                </div>
                <div id='signupLink' (click)='SignUp()'>
                    Sign up now
                </div>
            </div>
            <div id='learnMore'>
                This page is protected by Google reCAPTCHA to ensure you're not a bot.
                <div id='learnMoreLink' (click)='LearnMore()'>
                    Learn more.
                </div>
            </div>
        </div>
    </div>
</div>