<header *ngIf="isLoggedIn$ | async as isLoggedIn">
  <mat-toolbar class="navbar">
    <div class="menu-btn">
      <mat-icon>view_headline</mat-icon>
    </div>
    <div>
      <span routerLink="/newsfeed" routerLinkActive="active" class="navbar-logo"
        >Blog Site</span
      >
    </div>
    <div class="navbar-links">
      <!--<span routerLink="login">Sign In</span>-->
      <span *ngIf="isAdmin$ | async as isAdmin" routerLink="admin">Admin</span>
      <span routerLink="profile">My Profile</span>
      <span routerLink="newsfeed">News Feed</span>
      <span routerLink="settings">Settings</span>
    </div>
  </mat-toolbar>
</header>
