@use "../../../scss/variables";

.navbar {
  justify-content: space-between;
  background-color: variables.$primary-black;
  color: variables.$primary-white;
  position: absolute;
  top: 0px;
  width: 100%;
  cursor: pointer;
}

span {
  font-family: variables.$navbar-links-font-family;
  font-family: variables.$navbar-links-font-family-1;
  font-size: 16px;
  display: none;
}

.navbar-logo {
  display: inline-block;
  font-size: 30px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
}

.menu-btn {
  display: block;
  font-size: 30px;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  position: fixed;
  right: 0;
}

@media screen and (min-width: 768px) {
  span {
    display: inline-block;
    padding-right: 20px;
    font-size: 22px;
  }

  .navbar-logo {
    font-size: 35px;
    padding: 0 100px;
  }

  .menu-btn {
    display: none;
  }

  #click {
    display: none;
  }

  .example-sidenav {
    display: none;
  }
}

// sidenav
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 0;
  background-color: variables.$primary-black;
  color: variables.$primary-white;
}

.sidenav-links {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;
}
