#error {
    padding: 10% auto;
}


#errorContent {
    width: 60%;
    height: 30%;
    color: #F5F5F5;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.795);
    margin: 10% auto;
    padding-top: 7%;
    border-radius: 4px;
}

h1 {
    font-size: 3rem;
}

#redirect {
    transition: 0.3s ease-in-out;
    text-decoration: underline;
}

#redirect:hover {
    cursor: pointer;
    color: #A62626;
    transition: 0.3s ease-in-out;
}