<li class="story">
  <mat-card class="example-card">
    <mat-card-header>
      <!-- <mat-card class="storyMedia" *ngIf='hasImage'></mat-card> -->
      <!-- <img *ngIf="storyItem.image" mat-card-avatar src="{{storyItem.image}}" /> -->
      <mat-card-title
        ><a
          *ngIf="isAdmin$ | async as isAdmin; else elseUserBlock"
          [routerLink]="['/profile/' + storyItem.publisherName]"
          routerLinkActive="router-link-active"
          [state]="{storyItem}"
          >{{ storyItem.publisherName }}</a
        >
        <ng-template #elseUserBlock>
          {{ storyItem.publisherName }}
        </ng-template>
      </mat-card-title>

      <mat-card-subtitle>{{
        storyItem.publishedTime | date: "short"
      }}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img ngIf*="storyItem.content.image" mat-card-image src={{storyItem.content.image}} alt="Image" -->
    <!-- onerror="this.src=''"> -->
    <!-- <iframe mat-card-image src={{storyItem.content.video}} alt="video" onerror="this.src=''"></iframe> -->
    <mat-card-content>
      <p>
        {{ storyItem.content.text }}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button (click)="openComment()">COMMENT</button>
      <button
        *ngIf="isPublisher"
        mat-icon-button
        color="warn"
        aria-hidden="false"
        aria-label="Post-delete button"
      >
        <mat-icon (click)="deletePost()">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</li>
