<mat-card class='info-container'>
  <mat-card-header>
    <mat-card-title>
      {{ profile.name ?? profile.userName | titlecase }}
      <mat-icon color="primary" *ngIf="isAdmin()" matTooltip="admin">admin_panel_settings</mat-icon>
    </mat-card-title>
    <button mat-stroked-button *ngIf="canEdit()" (click)="edit()">
      <mat-icon>edit_note</mat-icon>Edit
    </button>
  </mat-card-header>

  <mat-card-content class="info-content">
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item>
        <mat-icon>person</mat-icon>UserName: {{ profile.userName }}
      </mat-list-item>
      <mat-list-item>
        <mat-icon>email</mat-icon>UserEmail: {{ profile.userEmail }}
      </mat-list-item>
      <mat-list-item *ngIf="profile.gender">
        <mat-icon>face</mat-icon>Gender: {{ profile.gender }}
      </mat-list-item>
      <mat-list-item *ngIf="profile.age">
        <mat-icon>spa</mat-icon>Age: {{ profile.age }}
      </mat-list-item>
      <mat-list-item *ngIf="profile.phone">
        <mat-icon>phone</mat-icon>Phone: {{ profile.phone }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>