<div>
    <!-- by YuxuanWu  hide-element directive
        <div id='loginInput' appHideElement>
    -->

    <div id='loginInput'>
        <!-- by YuxuanWu form group-->
        <form [formGroup] = "userFormGroup">
            <input type='text' formControlName="usernameFormControl" placeholder='Email or phone number'/><br/>
            <input type='password' formControlName="passwordFormControl" placeholder = 'Password'/><br/>
        </form>
        <!-- by YuxuanWu form control
            <input type='text' [formControl]="username" placeholder='Email or phone number'/><br/>
            <input type='password' [formControl]="password" placeholder = 'Password'/><br/>
        -->
        <!-- by Daniel original
            <input type='text' placeholder='Email or phone number'/><br/>
            <input type='password' placeholder = 'Password'/><br/>
        -->
      
    </div>
     <!-- by Huazhen xu check formgroup vaild-->
    <button class="default_button" mat-raised-button type="submit" [disabled]="!userFormGroup.valid" (click)='SignIn()'>Sign In</button>
    <!-- by Daniel original
    <button (click)='SignIn()'>Sign In</button><br/>
     -->
    <div id='checkbox'>
        <div>
            <input id='checkboxInput' type='checkbox'/> Remember me
        </div>
        <div id='needHelp' (click)='NeedHelp()'>
            Need help?
        </div>
    </div>
</div>