<div class="story">
    <div class="storyHeader">
        <div>
            Avatar
        </div>
        <div id='publicationInfo'>
            <h2>
                {{story.publisherName}}
            </h2>
            <h3>
                Posted on: {{story.publishedTime}}
            </h3>
        </div>
    </div>
    <div class="storyContent">
        {{story.content}}
    </div>
    <div class="storyBottomBar">
        <div class="storyBottomBarItem">
            <button mat-raised-button class="storyBottomBarButton">Comment Icon</button>
        </div>
        <div class="storyBottomBarItem">Pagination</div>
        <div class="storyBottomBarItem">
            <button mat-raised-button class="storyBottomBarButton">Like Icon</button>
        </div>
    </div>
</div>