<div class="story">
    <div class="storyHeader">
        <div>
            Avatar
        </div>
        <div>       
            User Name    
        </div>
        <div>
            Published Time
        </div>
    </div>
    <div class="storyContent">
        {{storyItem.content}}
    </div>
    <div class="storyBottomBar">
        <div class="storyBottomBarItem">
            <button mat-raised-button class="storyBottomBarButton">Comment Icon</button>
        </div>
        <div class="storyBottomBarItem">Pagination</div>
        <div class="storyBottomBarItem">
            <button mat-raised-button class="storyBottomBarButton">Like Icon</button>
        </div>
    </div>
</div>