<<<<<<< HEAD
@import '../../../styles.scss';

.storylist {
  height: 40vh;
  overflow: scroll;
  overflow-x: hidden;
}

.centered {
  display: flex;
  align-self: center;
  align-content: center;
}
=======
.container{
    margin-top:50px;
    margin-bottom:50px;
}
>>>>>>> 7855a5d0dc9e35bc5043b23a28228f53f0e4f1a5
