<mat-toolbar color="primary">
<mat-toolbar-row>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
     (click)="onYesClick()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Content name 1</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>

</mat-toolbar-row>


</mat-toolbar>

<mat-toolbar>
<mat-toolbar-row color="primary">
  <button mat-stroked-button (click)="publish()" >Publish</button>
</mat-toolbar-row>
</mat-toolbar>