#stories {
  width: 100%;
  height: 75%;
  overflow: scroll;
  padding-bottom: 5%;
  //margin-top: 5%;
}

#stories {
  // position: absolute;
  // top: 0;
  //animation: slide 5s infinite;
}

// @keyframes slide {
//   0%{
//     top: 8rem;
//   }
//   25%{
//     top: 4rem;
//   }
//   50%{
//     top: 0rem;
//   }
//   72.5%{
//     top: -4rem;
//   }
// }
