$primary-red: red;
$primary-white: white;
$primary-black: black;
$primary-transparent: transparent;

$navbar-links-font-family: "Dongle",
sans-serif;
$navbar-links-font-family-1: "Playfair Display",
serif;
;
