<form [formGroup]="newsFeedForm">

  <label for="content">Content: </label>
  <textarea id="content" type="text" formControlName="Content" placeholder="Anything goes ..."></textarea>

  <label for="image">Do you want to submit an image?: </label>
  <input id="image" type="text" formControlName="image" placeholder="Image Url">

  <label for="video">Do you want to submit a video?: </label>
  <input id="video" type="text" formControlName="video" placeholder="Video Url">

  <button (click)="newsPostSubmit()">Submit a new post</button>
</form>
