.agreement{
    width:25em;
    display:flex;
    justify-content: space-between;
}
.container{
    border: 1px solid black;
    padding: 50px 0px;
    width:30%;
    min-width:400px;
    margin:auto
}
.loginForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submitButton{
    display:block;
    width:25em;
}
.formField{
    width:25em
}
