<div>
  <form class="formContainer" [formGroup]="loginForm">
    <p class="formTitle">Sign In</p>
    <mat-form-field [hideRequiredMarker]="loginForm.value">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" />
      <div *ngIf="loginForm.controls['username'].errors">
        <mat-hint class="errorMessage" *ngIf="loginForm.controls['username'].errors['required']">
          Please enter username
        </mat-hint>
        <mat-hint class="errorMessage" *ngIf="loginForm.controls['username'].errors['maxlength']?.requiredLength < loginForm.controls['username'].errors['minlength']?.actualLength">
          Please enter less than 6 characters
        </mat-hint>
      </div>
    </mat-form-field>
    <mat-form-field [hideRequiredMarker]="loginForm.value">
      <mat-label>Password</mat-label>
      <input matInput type="text" formControlName="password" />
      <div *ngIf="loginForm.controls['password'].errors">
        <mat-hint class="errorMessage" *ngIf="loginForm.controls['password'].errors['required']">
          Please enter password
        </mat-hint>
        <mat-hint class="errorMessage" *ngIf="loginForm.controls['password'].errors['minlength']?.requiredLength > loginForm.controls['password'].errors['minlength']?.actualLength">
          Please enter more than 6 characters
        </mat-hint>
        <mat-hint class="errorMessage" *ngIf="loginForm.controls['password'].errors['pattern']">
          Password needs to include uppercase, lowercase, and special character
        </mat-hint>
      </div>
    </mat-form-field>
    <mat-checkbox
      class="rememberCheckbox"
      color="primary"
      (click)="rememberMeChecked($event)"
    >
      <span class="rememberText">Remember me</span>
    </mat-checkbox>
    <button
      mat-raised-button
      type="button"
      class="loginButton"
      (click)="signIn()"
    >
      Sign In
    </button>
  </form>
</div>
