<mat-form-field class="login-form" floatLabel="auto" appearance="fill" [formGroup]="userLoginForm">
    <mat-label>
        Email: 
        <br>
        <input matInput formControlName="email">
    </mat-label>
</mat-form-field>

<div>
    <mat-form-field floatLabel="auto" appearance="fill" [formGroup]="userLoginForm">
    <mat-label>
        Password:
        <br>
        <input matInput type="password" formControlName="password">
    </mat-label>
</mat-form-field>
    <br>
    <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">Login</button>
</div>
