<div>
    <h2>
        Profile Details
    </h2>
    <div id="container-body">
        <form id="editUserForm" [formGroup] = "userInfoFormGroup">
            <fieldset>
                <legend>
                    Personal Information
                </legend>
                <br>
                <label for="firstname">
                    Firstname<span>*</span>
                </label>
                <br>
                <input formControlName="userFnameFormControl" type="text" id="fname" name="fname">
                <br><br>
                <label for="lastname">
                    Last name<span>*</span>
                </label>
                <br>
                <input formControlName="userLnameFormControl" type="text" id="lname" name="lname">
                <br><br>
                <label for="email">
                    Email<span>*</span>
                </label>
                <br>
                <input formControlName="userEmailFormControl" type="email" id="email" name="email">
                <br><br>
                <label for="birthday">
                    Birthday
                </label>
                <br>
                <input formControlName="userBDFormControl" type="date" id="birthday" name="birthday">
                <br><br>
            </fieldset>
        </form>
        <div id="imgProfile-container">
            <img src="../../../assets/images/US-en-20220117-popsignuptwoweeks-perspective_alpha_website_medium.jpg" id="imgProfile" alt="" />
            <div id="img-button-container">
                <input type="file" (change)="OnFileChanged($event)" id="profpicfile" name="profpicfile" />
                <button (click)="triggerInput()">Change Photo</button>
            </div>
        </div>
    </div>
    <br>
    <button  [disabled]="!userInfoFormGroup.valid" mat-raised-button color="warn" type="submit" (click)='SaveInfo()'>Save</button>
</div>