<div class="userDisplay">
  <div class="userDisplayContent" [ngSwitch]="correctPath">
    <div *ngSwitchCase="'myProfile'" class="infoBox">
      <p>{{ userInProfile.userName }}</p>
      <p>{{ userInProfile.userEmail }}</p>
    </div>
    <div *ngSwitchCase="'newsFeed'" class="infoBox">
      <p>
        User:
        <a href="http://localhost:4200/myProfile">
          {{ userInNewsStory.publisherName }}
        </a>
        at
        {{ userInNewsStory.publishedTime | date: "short" }}
      </p>
    </div>
  </div>
</div>
