@use "../../../styles.scss" as theme;

.userDisplay {
  width: 100%;
}

.userDisplayContent {
  padding: 20px;
  background-color: theme.$primary-color;
  border-radius: 20px;
}

.infoBox {
  display: grid;
  //   width: 80%;
  grid-template-columns: 1fr 1fr;
  //   grid-column-gap: 10px;
}
