@use "../../../styles.scss" as theme;

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.userDisplay {
  width: 100%;
}

.usernameDisplay {
  font-weight: bold;
}

.infoBoxForMyProfile {
  background-color: theme.$primary-color;
  border-radius: 20px;
  padding: 15px;
  width: 300px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.infoBox {
  margin: 15px;
}
