@import '../../../../styles.scss';

.story {
    border: $red solid 1px;
    margin-bottom: 10%;
    background-color: $white2;
    border-radius: 4px;
}
.storyHeader {
    display: grid;
    grid-template-columns: 15% 50% auto;
    padding: 4% 5%;
    color: $black;
    background-color: $white;
    margin: 2% 5%;
}

.storyHeader mat-card-title {
    padding-bottom: 5%;
}

#publicationInfo {
    height: 80%;
}

.avatar-card {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#delete-button {
    float: right;
}

.storyContent {
    display: grid;
    height: 30rem;
    margin: 2% 5%;
    border-radius: 4px;
    background-color: $white;
    padding: 2%;
    overflow: auto;
    font-size: 1rem;
}

.storyText {
    padding: 2% 3%;
    width: 94%
}

.storyMedia {
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    // height: ;
    width: 94%;
    padding: 2% 3%;
    margin: 0 auto;
    object-fit: contain;
}

.storyImage, .storyVideo {
    max-width: 85%;
    max-height: 85%;
    object-fit: contain;
    margin: 0 auto;
    // margin: 0 2%;
}

.storyBottomBar {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    text-align: center;
    margin: 2% 5%;
    height: 100%;
    background-color: $white;
}

.storyBottomBarButton {
    background-color: $red;
    color: $white;
    transition: 0.3s ease-in-out;
}

.storyBottomBarButton:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: $white;
    color: $red;
    transition: 0.3s ease-in-out;
}
