<form mat-form [formGroup]="newsFeedForm">
  <mat-form-field appearance="fill">
    <mat-label>Picture url: </mat-label>
    <input matInput formControlName="image" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Video url: </mat-label>
    <input matInput formControlName="video" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Content:</mat-label>
    <textarea matInput formControlName="text"></textarea>
  </mat-form-field>

  <button mat-button (click)="newsPostSubmit()">Post a new story</button>
</form>


<ul
  class="story"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollUpDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <app-story-card
    *ngFor="let story of arr"
    [storyItem]="story"
  ></app-story-card>

</ul>
