@import '../../../../styles.scss';

.story {
  height: 40vh;
  // overflow: scroll;
  // overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
}

.centered {
  display: flex;
  align-self: center;
  align-content: center;
  background-color: white;
}

form {
  display: grid;
  width: 45vw;
  background-color: white;
  color: black;
  margin: 0 3rem 1rem 3rem;
  padding: 0.5rem .5rem .5rem .5rem;
  border-radius: 1rem;
}
