@import '../../../../styles.scss';

.story {
  height: 40vh;
  // overflow: scroll;
  // overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
}

.centered {
  display: flex;
  align-self: center;
  align-content: center;
  background-color: white;
}

form {
  display: grid;
  width: 45vw;
  background-color: white;
  color: black;
  margin: 0 3rem 1rem 3rem;
  padding: 0.5rem .5rem .5rem .5rem;
  border-radius: 1rem;
}

cdk-virtual-scroll-viewport {
  height: 40vh;
  width: 60vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  list-style: none;

  li {
    height: 100px;
    margin: 10px;
    padding: 10px;
    background: whitesmoke;

    box-shadow: 2px 2px 3px rgba($color: #888888, $alpha: 0.2);
  }

  &::-webkit-scrollbar {
    width: 1em;
  }

  // &::-webkit-scrollbar-track {
  //   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(238, 169, 79);
  }
}
