<form [formGroup]="newsFeedForm">

  <!-- <label for="text">Content: </label>
  <textarea id="text" type="text" formControlName="text" placeholder="Anything goes ..."></textarea>

  <label for="image">Submit an image url: </label>
  <input id="image" type="text" formControlName="image" placeholder="Image Url">

  <label for="video">Submit a video url: </label>
  <input id="video" type="text" formControlName="video" placeholder="Video Url"> -->
  <mat-form-field appearance="fill">
    <mat-label>Picture url: </mat-label>
    <input matInput formControlName="image">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Video url: </mat-label>
    <input matInput formControlName="video">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Content:</mat-label>
    <textarea matInput formControlName="text"></textarea>
  </mat-form-field>

  <button (click)="newsPostSubmit()">Post a new story</button>
</form>


<ul class="story">
  <app-story-card *ngFor="let story of storyList" [storyItem]="story"></app-story-card>
</ul>
