/* You can add global styles to this file, and also import other style files */

/* ====== Global variables ====== */
:root {
  --login-bg-image: url(./assets/images/themes/default-background.jpg);
}

/* ====== CSS reset ====== */
@import "./app/css/reset";

/* ====== Custom Theming for Angular Material ====== */
@import "./app/css/theme";

/* ====== Global Angular Material typography styles ====== */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
