<div class="commentDialogBody">
    <h2 mat-dialog-title>Comments</h2>
    <div mat-dialog-content >
        <mat-card *ngFor="let comment of commentList">
            {{comment.content.text}}
        </mat-card>
        <app-comment-input-field [storyId]="story._id"></app-comment-input-field>
    </div>
    <div mat-dialog-actions>
        <!-- <button mat-raised-button class="commentDialogCancelButton" (click)="onCancel()">Cancel</button>
        <button mat-raised-button class="commentDialogConfirmButton" (click)="onConfirmed()">Confirm</button> -->
    </div>
</div>