@import '../../../../styles.scss';

.commentDialogBody {
  width: 50vw;
  height: 65vh;
  margin: 0 auto;
}

#commentList {
  height: 50%;
  padding: 3%;
  background-color: $white2;
}

#comments {
  height: 90%;
  overflow-y: auto;
  margin: 1%;
}

#comment {
  margin: 3% auto;
  width: 90%;
}

#newPost {
  margin-top: 2%;
  background-color: $white2;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $white;
  // border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: $red;
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  cursor: pointer;
}