@import '../../../../styles.scss';

.commentDialogBody {
  width: 65vw;
  height: 85vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
mat-card {
  padding: 0 0;
}

#commentList {
  height: 60%;
  background-color: $white2;
}

p {
  padding: 0 2%;
  font-size: 16px;
}

#comments {
  height: 85%;
  overflow-y: auto;
  margin: 2%;
}

pagination-controls {
  max-height: 5%;
  text-align: center;
}

#newPost {
  height: 35%;
  background-color: $white2;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $white;
  // border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: $red;
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  cursor: pointer;
}

@media only screen and (max-height: 650px)  {
  .commentDialogBody {
    overflow: auto;
  }
  
  #commentList {
    min-height: 300px;
  }
  
  pagination-controls {
    min-height: 26px;
  }
  
  #newPost {
    min-height: 200px;
  }
}