<div class="contentPage">
    <div class="avatarDisplay">
        <app-user-display ></app-user-display>
    </div>
    <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="postLikeNumber">
        <mat-icon aria-hidden="false" aria-label="comment">home</mat-icon>
        <p>Comments number</p>
        <mat-icon aria-hidden="false" aria-label="like">home</mat-icon>
        <p>Like number</p>
    </div>
    <mat-paginator [length]="10"
              [pageSize]="11"
              [pageSizeOptions]="[1, 5, 10]"
              aria-label="Select page">
    </mat-paginator>
</div>
