@use "../../../styles.scss" as theme;

.loginForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 70px;
    margin: 50px;
    background-color: theme.$secondary-color;
    border-radius: 10px;
}

.loginFormWrapper {
    display: flex;
    justify-content: center;
}