<<<<<<< HEAD

=======
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
>>>>>>> 7855a5d0dc9e35bc5043b23a28228f53f0e4f1a5
