<div class="profilePage">
  <div class="avatarDisplay">
    <app-user-display></app-user-display>
    <!-- 
      getProfile api doesn't provide amount of posts and likes
    <div class="postLikeContainer">

        <mat-icon aria-hidden="false" aria-label="Example home icon"
        >question_answer</mat-icon
      >
        <p>Amount of Posts</p>
        <mat-icon
        svgIcon="thumbs-up"
        aria-hidden="false"
        aria-label="thumbs up SVG icon"
        ></mat-icon>
        <p>Amount of Likes</p>
      </div>
    -->
  </div>
  <div>
    <table class="profileTable">
      <tr *ngFor="let profileItem of userProfileList; let i = index">
        <td>{{ key[i].toLowerCase() }}</td>
        <td>{{ profileItem[key[i]] }}</td>
      </tr>
    </table>
  </div>
</div>

<app-navigation-bar></app-navigation-bar>
