#app {
    background-image: url('../../assets/images/US-en-20220117-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}