<header>
  <mat-toolbar class="navbar">
    <div class="menu-btn">
      <mat-icon>view_headline</mat-icon>
    </div>
    <div>
      <span routerLink="/" routerLinkActive="active" class="navbar-logo"
        >Blog Site</span
      >
    </div>
    <div class="navbar-links">
      <span routerLink="login">Sign In</span>
      <span routerLink="profile">My Profile</span>
      <span routerLink="newsfeed">News Feed</span>
      <span routerLink="settings">Settings</span>
      <span routerLink="log_out">Log Out</span>
    </div>
  </mat-toolbar>
</header>

<main>
  <div class="login-container">
    <router-outlet></router-outlet>
  </div>
  <!-- <p [TmpElement]="5000">Removed after 5 seconds</p> -->
</main>

<div class="background-image"></div>
<div class="black"></div>
