@use "../scss/variables";
@import "../styles.scss";

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
  opacity: 1;
  position: relative;
}

.container {
  z-index: 2;
  position: absolute;
  transform: translate(0%, 50%);
}
