@use "../scss/variables";
@import "../styles.scss";

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
  opacity: 1;
  position: relative;
}

.container {
  z-index: 2;
  position: absolute;
  transform: translate(0%, 50%);
}

// .navbar {
//   justify-content: space-between;
//   background-color: variables.$primary-black;
//   color: variables.$primary-white;
//   overflow: hidden;
//   position: fixed;
//   top: 0px;
//   width: 100%;
//   cursor: pointer;
// }

// span {
//   font-family: variables.$navbar-links-font-family;
//   font-family: variables.$navbar-links-font-family-1;
//   font-size: 16px;
//   display: none;
// }

// .navbar-logo {
//   display: inline-block;
//   font-size: 30px;
//   line-height: 80px;
//   padding: 0 20px;
//   font-weight: bold;
// }

// .menu-btn {
//   display: block;
//   font-size: 30px;
//   line-height: 80px;
//   margin-right: 40px;
//   cursor: pointer;
//   position: fixed;
//   right: 0;
// }

// @media screen and (min-width: 768px) {
//   span {
//     display: inline-block;
//     padding-right: 20px;
//     font-size: 22px;
//   }

//   .navbar-logo {
//     font-size: 35px;
//     padding: 0 100px;
//   }

//   .menu-btn {
//     display: none;
//   }

//   #click {
//     display: none;
//   }
// }

// background

// .background-image {
//   background-image: url("../public/0.jpg");
//   background-repeat: repeat;
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   bottom: 0px;
//   left: 0px;
//   z-index: -2;
// }

// .black {
//   background-color: variables.$primary-black;
//   background-size: cover;
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   bottom: 0px;
//   left: 0px;
//   z-index: -1;
//   opacity: 0;
// }
